*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{ /*esconder barra de rolagem*/
    width: 0;
    height: 0;
}

img{
   width: 100vw;
}
a{
    display: block;
    text-align: center;
    background: red;
    padding: 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

